extends layouts/main-layout

block title
  #{title}
block style
  link(rel="stylesheet", href="/css/main.css")
  link(rel="stylesheet", href="/css/product.css")
block content
  main
    form.product-form(action="/admin/add-product", method="POST")
      div.form-control
        label(for="title") #{title}
        input(type="text", name="title", id="title")
      button(type="submit") Add Product
